.bannerDiv {
  height: 100vh;
  background: black;
  position: relative;
}
.bannerDiv:before {
  position: absolute;
  background: url("../../../public/88771.jpg");
  content: "";
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  position: absolute;
  top: 40px;
  width: 100%;
}
.header .row {
  margin: auto;
}
.logoDiv img {
  width: 130px;
}
.languageSwitchDiv {
  width: 84px;
  padding: 1px 0;
  margin-left: auto;
  background: #ffffff91;
  text-align: center;
}
.langLabael {
  color: white;
  font-size: 14px;
  text-align: left;
  padding: 0 8px;
  position: relative;
}
.langLabael:after {
  position: absolute;
  right: 8px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #f8f9fa;
  content: "";
  bottom: 5px;
}
.bannerText {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  color: white;
}
.bannerText h1 {
  font-family: var(--font-bison);
  font-size: 8rem;
  letter-spacing: 0.04em;
}
.bannerText p {
  font-family: var(--font-gidole);
  font-size: 2.1rem;
  letter-spacing: 0.16em;
  margin-bottom: 0;
}
.downArrow img {
  height: 70px;
}

.downArrow {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/* turf carousel section */
.turfCarouselDiv {
  /* height: 100vh; */
  background: url("../../../public/turfbk.jpg");
  padding: 60px 0px;
  background-position: top;
}
h1.turfCarouselHeading {
  color: #032d0f;
  letter-spacing: 0.09em;
  font-family: var(--font-bison);
  font-size: 4rem;
  -webkit-text-stroke: 1px #023110;
  position: relative;
}
h1.turfCarouselHeading:before {
  position: absolute;
  content: "";
  width: 4px;
  background: #032d0f;
  height: 90px;
  left: -12px;
  z-index: 8;
  top: 18px;
}
p.turfCarouselText {
  color: #0d5e48;
  letter-spacing: 0.05em;
  font-family: var(--font-gidole);
  font-size: 15px;
  line-height: 20px;
}
.butn button {
  background: #023110;
  box-shadow: 0px 4.23174px 4.23174px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
  width: 170px;
  height: 34px;
  letter-spacing: 0.05em;
  font-family: var(--font-gidole);
  color: #e6eadc;
  font-size: 12px;
  position: relative;
  -webkit-text-stroke: 0.2px #e6eadc;
}
.butn button:after {
  position: absolute;
  content: "\2192";
  right: 20px;
  font-size: 20px;
  top: 0px;
}
/* turf carousel section */

/* journey section */
.journeyAbout {
  align-items: center;
  display: flex;
}
.journeyLeftDiv h1 {
  font-family: var(--font-bison);
  letter-spacing: 0.06em;
  color: #023110;
  font-size: 2.8rem;
}
.journeyLeftDiv p {
  font-family: var(--font-gidole);
  letter-spacing: 0.08em;
  color: #023110;
  font-size: 16px;
  font-weight: 600;
}
/* journey section */

/* tab section */
.tabContentKw {
  background: url("../../../public/backgrod-image.png");
  padding: 80px 70px;
  position: relative;
}
.tabContentKw:before {
  position: absolute;
  content: "";
  width: 2px;
  height: 86%;
  background: white;
  top: 71px;
  left: 35px;
}
.tabContentKw h1 {
  max-width: 300px;
  letter-spacing: 0.05em;
  color: #e6eadc;
  font-family: var(--font-gidole);
  position: relative;
}
.tabContentKw h1::after {
  position: absolute;
  content: "\2192" !important;
  right: 23px;
  font-family: "Bison";
}
.tabContentKw h1:first-child {
  font-family: var(--font-bison);
  letter-spacing: 0.12em;
  color: #b7ed3f;
}
.tabContentKw h1:first-child::after {
  display: none;
}
.tabContentKw p {
  margin: 0;
  letter-spacing: 0.05em;
  color: #ffffff;
  font-family: var(--font-gidole);
  font-size: 15px;
  line-height: 23px;
}
.tabContentKw div {
  max-width: 790px;
}
.tabHeadKw {
  background: linear-gradient(261.87deg, #023110 0%, #020202 112.3%);
  height: 100%;
  padding: 60px 28px;
}
.tabHeadKw h1 {
  font-family: "Gidole";
  color: #ffffff;
  letter-spacing: 0.11em;
  font-size: 2rem;
  max-width: 220px;
  margin: auto;
  line-height: 40px;
}
.tabHeadKw ul {
  list-style: none;
  height: 100%;
  display: revert;
  margin: 0;
  padding: 30px 32px;
}
.tabHeadKw ul li {
  letter-spacing: 0.12em;
  color: #ffffff;
  font-family: var(--font-gidole);
  padding: 14px 0;
  font-size: 15px;
  cursor: pointer;
}
.tabHeadKw ul li:hover {
  color: #b7ed3f !important;
}
/* tab section */

@media screen and (max-width: 600px) {
  /* banner */
  .bannerText h1 {
    font-size: 3rem;
  }
  .bannerText p {
    font-size: 1.4rem !important;
  }
  /* carousel */
  h1.turfCarouselHeading {
    font-size: 2.6rem;
  }
  h1.turfCarouselHeading:before {
    height: 38px;
    left: -6px;
    top: 11px;
  }
  p.turfCarouselText {
    font-weight: 600;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1000px) {
  /* banner */
  .bannerText h1 {
    font-size: 5rem;
  }
  .bannerText p {
    font-size: 1.4rem !important;
  }
  /* banner */
}
